@import "variables";
@import "global";

footer .container {
  padding: 150px;
  background-color: #F8F8F8;
  margin-top: 200px;
  position: relative;
  .footer-top {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: -250px auto 66px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 58px 70px;
    div {
      width: 40%;
    }
    h3 {
      font-size: 36px;
      font-weight: 900;
      margin: 0;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    .col-left, .col-right {
      min-width: 300px;
    }
    .col-left {
      width: 40%;
      p {
        width: 80%;
        color: #BDBDBD;
      }

      .social-links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        .circle {
          width: 34px;
          height: 34px;
          border-radius: 50%;
          line-height: 36px;
          text-align: center;
          background-color: white;
          color: $lightblue;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }
      }
    }

    .col-right {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
      width: 50%;
      .quick-links {
        min-width: 100px;
        p {
          font-weight: bold;
          font-size: 18px;
          margin-top: 0;
        }
        ul {
          padding: 0;
          li {
            margin-bottom: 10px;
            a {
              color: #4F5665;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1124px) {
  footer .col-left, footer .col-right {
    width: 100% !important;
  }

  footer .col-left {
    text-align: center;
    p {
      width: 100% !important;
    }
    .social-links {
      justify-content: center;
    }
  }
  footer .footer-top {
    flex-direction: column;
    div {
      width: 100% !important;
      text-align: center;
    }
  }
}

@media screen and (max-width: 900px) {
  footer .container {
    padding: 50px;

    .footer-top {
      margin-top: -100px;
    }
  }
}

@media  screen and (max-width: 500px) {
  footer .container {
    padding: 10px;

    .footer-top {
      padding: 20px 10px;
    }
  }

}