@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn-primary {
  padding: 17px 80px;
  border-radius: 10px;
  background-color: $lightblue;
  color: $light;
  outline: 0;
  border: 0;
}
